<%- include('../partials/head.ejs') %>

<ul class="rooms">
	<%for (var i = 0; i<rooms.length; i++){%>
		<li>
			<a href="/rooms/<%=rooms[i].id%>">
				<div class="roomImage">
					<img src="/uploads/<%=rooms[i].image%>"/>
				</div>
				<span><%=rooms[i].naam%></span>
				<span>€<%=rooms[i].prijs%>/persoon/nacht</span>
			</a>
			<%if (admin == true){%>
				<a class="editRoom" href="/rooms/edit/<%=rooms[i].id%>">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="61456" data-kw="edit45">
						<g>
							<path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z"></path>
						</g>
					</svg>
				</a>
				<a class="removeRoom" href="/rooms/remove/<%=rooms[i].id%>">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" viewBox="0 0 18.588 18.588" style="enable-background:new 0 0 18.588 18.588;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="2198" data-kw="basket33">
						<g>
							<path style="fill:#030104;" d="M13.849,3.414L12.816,0.2l-1.147,1.021L9.287,0L9.179,1.856L8.163,0.839L5.272,3.414H2.054v2.631   h1.177l0.912,10.454c0.014,1.154,0.957,2.089,2.115,2.089h6.075c1.159,0,2.104-0.938,2.115-2.097l0.93-10.446h1.157V3.414H13.849z    M7.137,9.163l2.19-2.189l2.19,2.189l-2.19,2.19L7.137,9.163z M11.023,13.931l-1.695,1.694l-1.695-1.694l1.695-1.694L11.023,13.931   z M9.284,6.044h0.087L9.328,6.088L9.284,6.044z M9.77,6.531l0.485-0.486h2.809l0.786,0.786l-1.89,1.89L9.77,6.531z M13.324,3.414   h-2.587L10.37,3.048l2.204-1.964L13.324,3.414z M9.741,0.794l1.527,0.784l-1.252,1.114L9.652,2.328L9.741,0.794z M8.143,1.527   l1.887,1.887H6.025L8.143,1.527z M5.591,6.044H8.4L8.886,6.53l-2.19,2.189l-1.891-1.89L5.591,6.044z M4.21,6.044h0.497L4.363,6.388   L4.227,6.253L4.21,6.044z M4.624,10.792L4.321,7.315l0.043-0.042l1.89,1.89L4.624,10.792z M6.696,9.604l2.19,2.19l-1.694,1.695   l-2.19-2.191L6.696,9.604z M6.749,13.932l-1.37,1.369l-0.36-3.099L6.749,13.932z M6.258,17.611c-0.628,0-1.139-0.511-1.139-1.139   l-0.002-0.024l0.198-0.198l1.361,1.361H6.258z M7.257,17.308l-1.5-1.501l1.434-1.434l1.694,1.694l-1.24,1.24L7.257,17.308   L7.257,17.308z M8.53,17.308l0.798-0.798l0.797,0.798H8.53z M11.01,17.308l-1.24-1.24l1.694-1.694l1.435,1.434l-1.501,1.501   L11.01,17.308L11.01,17.308z M13.473,16.436l-0.001,0.036c0,0.628-0.511,1.139-1.139,1.139h-0.354l1.36-1.361l0.138,0.137   L13.473,16.436z M13.276,15.301l-1.37-1.37l1.729-1.729L13.276,15.301z M11.464,13.49l-1.694-1.695l2.19-2.19l1.694,1.694   L11.464,13.49z M13.981,10.742l-1.578-1.579l1.888-1.889L13.981,10.742z M14.376,6.303l-0.084,0.085l-0.344-0.344h0.451   L14.376,6.303z"></path>
						</g>
					</svg>
				</a>
			<%}%>
		</li>
	<%}%>

	<%if (admin == true){%>
	<li class="addRoom">
		<a href="/rooms/add">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="54443" data-kw="add139">
				<g>
					<g id="_x38__3_">
						<g>
							<path d="M306,0C136.992,0,0,136.992,0,306s136.992,306,306,306s306-137.012,306-306S475.008,0,306,0z M306,573.75     C158.125,573.75,38.25,453.875,38.25,306C38.25,158.125,158.125,38.25,306,38.25c147.875,0,267.75,119.875,267.75,267.75     C573.75,453.875,453.875,573.75,306,573.75z M420.75,286.875h-95.625V191.25c0-10.557-8.568-19.125-19.125-19.125     c-10.557,0-19.125,8.568-19.125,19.125v95.625H191.25c-10.557,0-19.125,8.568-19.125,19.125c0,10.557,8.568,19.125,19.125,19.125     h95.625v95.625c0,10.557,8.568,19.125,19.125,19.125c10.557,0,19.125-8.568,19.125-19.125v-95.625h95.625     c10.557,0,19.125-8.568,19.125-19.125C439.875,295.443,431.307,286.875,420.75,286.875z"></path>
						</g>
					</g>
				</g>
			</svg>
			<span>Kamer toevoegen</span>
		</a>
	</li>
	<%}%>
</ul>

<%- include('../partials/foot.ejs') %>
